.text-center {
    text-align: center;
    margin: 0 auto;
}
ion-range {
    --bar-background: transparent;

    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --background-activated-opacity: 0.12;
    --background-focused-opacity: 0.15;
    --background-hover-opacity: 0.04;
}
ion-toolbar {
    --background: transparent !important;
    --border-color: transparent;
    height: 90px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.white-text {
    color: white;
}
.text-bold {
    font-weight: bold;
}
.modal-control-icons {
    .control-icon {
        font-size: 50px !important;
    }
}
.netflix-poster {
    img {
        width: 70%;
    }
}
.pp-boxes {
    div {
        margin: 10px;
        background: rgb(50, 126, 179);
        padding: 20px;
        height: 80px;
        border-radius: 10px;
        &.blank {
            background: transparent;
        }
        p {
            margin: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.modal-toolbar {
    ion-item {
        ion-label {
            font-weight: bold;
            color: #969696;
        }
    }
    background: linear-gradient(180deg, #424242 0%, #1b1b1b 100%, #1b1b1b 100%);
    padding: 20px;
    ion-title {
        padding: 30px !important;
        p {
            margin: 0;
            padding: 0;
            font-size: 28px;
        }
    }
    ion-button {
        .button {
            font-size: 20px;
        }
        padding: 0px !important;
        margin-top: 10px;
    }
}
ion-content {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.toolbar-background {
    border: 0 !important;
}
.touch-icon {
    width: 100px;
}
.custom-toolbar {
    background: #101010;
    padding: 20px;
    padding-top: 20px !important;
    .toolbar-container {
        padding: 50px !important;
    }
}
.modal-title {
    font-size: 24px;
    margin: 20px 0px 20px 0px;
}
.modal-sub-title {
    font-size: 18px;
    margin: 20px 0px 20px 0px;
}
.sc-ion-modal-md-h {
    &:first-of-type {
        --backdrop-opacity: var(--ion-backdrop-opacity, 0.7);
    }
    height: 100% !important;
    bottom: 0;
    width: 100%;
    margin: 0 auto;

    margin-top: 0px;
    .modal-wrapper {
        margin-top: 150px;
        border-radius: 40px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.sc-ion-modal-ios-h {
    &:first-of-type {
        --backdrop-opacity: var(--ion-backdrop-opacity, 0.7);
    }
    height: 100% !important;
    bottom: 0;
    width: 100%;
    margin: 0 auto;

    margin-top: 0px;
    .modal-wrapper {
        margin-top: 150px;
        border-radius: 40px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.the-range-slider-container {
    margin: 0;
    padding: 0;
}
.ion-input-label {
    font-weight: bold;
    color: #969696 !important;
}
ion-item::part(native) {
    .item-inner {
        display: none !important;
        padding: 0;
        border: 0;
    }
    background-color: transparent;
    padding: 0;
}
main::part(scroll) {
    padding: 20px !important;
    //overflow: hidden i !important;
}

:root {
    ion-range {
        --bar-background: transparent;

        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        --background-activated-opacity: 0.12;
        --background-focused-opacity: 0.15;
        --background-hover-opacity: 0.04;
    }
    ion-toolbar {
        ion-title {
            padding: 0;
        }
        .toolbar-container {
            padding: 50px;
        }
        &:last-child {
            .toolbar-background {
                box-shadow: var(--box-shadow);
            }
        }
    }
}
