#container {
  text-align: center;
  padding-left: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.app-title {
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-description {
  color: #c1c1c1;
  font-weight: bold;
}
.app-slide-description {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white !important;
  font-size: 18px !important;
}

ion-content {
  --ion-background-color: black !important;
}
