<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="presentIPModal();">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center"
      >Active Apps ({{globals.APPS_AVAILABLE_SINGULAR.length +
      globals.APPS_AVAILABLE_MULTIPLE.length}})<br /><small
        >Machine IP: {{globals.REST_API_IP}}</small
      ></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row
    class="m-t-30"
    *ngFor="let appSingular of globals.APPS_AVAILABLE_SINGULAR| keyvalue; let appIndex=index"
  >
    <ion-col>
      <ion-row *ngIf="appSingular.value[0].name != 'TEXTINPUTHOST'">
        <ion-col size="2" class="text-center">
          <img
            width="40px"
            src="assets/images/{{appSingular.value[0].name}}-icon.png"
          />
        </ion-col>
        <ion-col size="10" style="text-align: left">
          <p class="app-title">{{appSingular.value[0].appName}}</p>
          <p class="app-description" *ngIf="appSingular.value.length > 1">
            {{appSingular.value.length}} open window(s)
          </p>
        </ion-col>
      </ion-row>
      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
        class="horizontal-slides height-auto"
      >
        <ion-slide
          *ngFor="let appSingularInstance of appSingular.value | keyvalue; let appInstance=index"
          style="
            width: 90%;
            height: 280px;
            border: 0px;
            margin: 0;
            margin-top: -40px;
          "
        >
          <ion-col style="text-align: left">
            <!--doFocusWindow (click)="doFocusWindow({'appID': appSingularInstance.value.id, 'windowsID': appSingularInstance.value.windows[0].id});"-->

            <div *ngIf="appSingularInstance.value.windows.length != 0">
              <div
                class="recent-item"
                [id]="appSingularInstance.value.id"
                (click)="isAllowedApp({'appName':appSingularInstance.value.appName,'appName': appSingularInstance.value.appName,'appID': appSingularInstance.value.id, 'windowsID': appSingularInstance.value.windows[0].id});"
              >
                <img src="assets/images/{{appSingular.value[0].name}}.jpg" />
                <div
                  style="
                    position: absolute;
                    bottom: 9px;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.85);
                    padding: 10px;
                  "
                >
                  <p>Viewing now</p>
                  <p class="app-slide-description">
                    {{appSingularInstance.value.title}}
                  </p>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row
    *ngFor="let appMultiple of globals.APPS_AVAILABLE_MULTIPLE| keyvalue; let appIndex=index"
  >
    <ion-col
      >kjhkjh
      <ion-row *ngIf="appMultiple.value[0].name != 'APPLICATIONFRAMEHOST'">
        <ion-col size="2">
          <img
            width="40px"
            src="assets/images/{{appMultiple.value[0].name}}-icon.png"
          />
        </ion-col>
        <ion-col size="10">
          <p class="app-title">{{appMultiple.value[0].appName}}</p>
          <p class="app-description" *ngIf="appMultiple.value[0].length > 1">
            {{appMultiple.value[0].windows.length }} open window(s)
          </p>
        </ion-col>
      </ion-row>
      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
        class="horizontal-slides height-auto"
      >
        <ion-slide
          *ngFor="let appMultipleInstance of appMultiple.value[0].windows | keyvalue; let appMultipleKey=index"
          style="
            width: 90%;
            height: 280px;
            border: 0px;
            margin: 0;
            margin-top: -40px;
          "
        >
          <ion-col style="text-align: left">
            <!--doFocusWindow (click)="doFocusWindow({'appID': appSingularInstance.value.id, 'windowsID': appSingularInstance.value.windows[0].id});"-->

            <div
              class="recent-item"
              [id]="appMultipleInstance.value.id"
              (click)="isAllowedApp({'appName': appMultiple.value[0].appName, 'appID': appMultiple.value[0].id, 'windowsID': appMultipleInstance.value.id, appCommand: ''})"
            >
              <img src="assets/images/{{appMultiple.value[0].name}}.jpg" />
              <div
                style="
                  position: absolute;
                  bottom: 9px;
                  width: 100%;
                  background: rgba(0, 0, 0, 0.85);
                  padding: 10px;
                "
              >
                <p>Viewing now</p>
                <p class="app-slide-description">
                  {{appMultipleInstance.value.title}}
                </p>
              </div>
            </div>
          </ion-col>
        </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-content>
