#container {
  text-align: center;
  padding-left: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}
.loading-screen {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  z-index: 2;
  div {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }
}
.broken {
  height: 100%;
  background: url("../../assets/images/broken.jpg");
  background-size: cover;
  text-align: center;
  padding: 100px;
}
#container a {
  text-decoration: none;
}
.app-title {
  color: white !important;
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-description {
  color: #c1c1c1;
  font-weight: bold;
  margin: 0px;
}
.app-slide-description {
  width: 90%;
  padding: 0px 10px 0px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white !important;
  font-size: 18px !important;
}

ion-content {
  --ion-background-color: black !important;
}
