<ion-header>
  <ion-toolbar style="padding: 20px">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss();">
        <ion-icon class="white-text" name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span> Set IP</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <ion-row class="text-center">
    <ion-col>
      <div class="modal-title" style="padding: 20px">
        <ion-item>
          <ion-label position="floating">Current IP</ion-label>
          <ion-input
            style="height: 80px; font-size: 30px"
            [ngModel]="currentIpAddress"
            (ionChange)="onIpUpdate($event.target.value)"
            clearInput
            required
          ></ion-input>
        </ion-item>
        <p class="m-t-20">
          Simply enter the new IP address above and then close modal.
        </p>
        <p>Change takes effect immediately</p>

        <ion-list>
          <ion-item style="padding: 10px" (click)="setIp('207.180.244.152')">
            <ion-label>Test Server</ion-label>
            <ion-note slot="end" color="primary">207.180.244.152</ion-note>
          </ion-item>

          <ion-item style="padding: 10px" (click)="setIp('127.0.0.1')">
            <ion-label>Local Machine</ion-label>
            <ion-note slot="end" color="secondary">127.0.0.1</ion-note>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
