<ion-header>
  <ion-toolbar style="padding: 20px">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss();">
        <ion-icon class="white-text" name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">
      <span> Set IP</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <ion-row class="text-center">
    <ion-col class="modal-title" style="padding: 20px">
      <ion-item>
        <ion-label position="stacked">Current IP Address</ion-label>
        <ion-input
          style="height: 80px; font-size: 30px"
          [value]="globals.REST_API_IP"
          [(ngModel)]="currentIpAddress"
          (keyup.enter)="updateIpPort()"
          clearInput
          placeholder="Current IP"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Current Port Setting</ion-label>
        <ion-input
          style="height: 80px; font-size: 30px"
          [value]="globals.REST_API_PORT"
          [(ngModel)]="currentPortAddress"
          (keyup.enter)="updateIpPort()"
          clearInput
          placeholder="Current PORT"
          required
        ></ion-input>
      </ion-item>

      <p class="m-t-20">
        Simply enter the new IP address <br />and PORT (if required) then hit
        UPDATE button below
      </p>
      <p>Change takes effect immediately</p>
      <ion-button expand="block" (click)="updateIpPort();"
        >A block button</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
